<!DOCTYPE html>
<html lang="en">
  <!-- This template for Create or Editing URLs. The "operation" property is used to read whether this form is being
  used as a Create or Edit form. -->

<head>
  <%- include('./partials/_head.ejs'); %>
</head>

<body>
  <%- include('./partials/_header.ejs'); %>
  <main style="margin: 1em">
    <h3><%= operation %> TinyURL</h3>
    <!-- The form makes a POST request to a different route depending whether this is a Create or an Edit -->
    <form class="form-inline" action="<%= (operation === 'Update') ? `/edit/${shortURL}` : "/urls"; %>" method="POST">
      <div class="form-group mb-2">
        <label for="longURL"><%= (operation === 'Update') ? `Assign ${shortURL} to a new URL` : 'Enter URL'; %> (remember the http(s):// prefix!)</label>
        <input class="form-control" type="text" name="longURL" style="width: 300px; margin: 1em"
        value="<%= (operation === 'Update') ? longURL : 'http://'; %>" %>>
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </form>
  </main>
</body>
<footer>
  <%- include('./partials/_footer.ejs'); %>
  <!-- random comment -->
</footer>

</html>