<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('./partials/_head.ejs'); %>
</head>

<body>
  <%- include('./partials/_header.ejs'); %>
  <div class="card text-center">
    <div class="card-header"></div>
    <div class="card-body">
      <h5 class="card-title">TinyURL for: <%= longURL %></h5>
      <p class="card-text"><a href="/u/<%= shortURL %>">Short URL is <%= shortURL %></a>
      </p>
      <p>
        <a class="inline-links" href="/url/edit/<%= shortURL %>">Edit</a><a class="inline-links" href="/urls">Back to My URLs</a>
      </p>
      <div class="card-footer text-muted"></div>
    </div>

</body>
<footer>
  <%- include('./partials/_footer.ejs'); %>
</footer>

</html>