<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('./partials/_head');  %>
</head>

<body>
  <%- include('./partials/_header.ejs'); %>
  <main style="margin: 1em;">
    <h3>Welcome to Sherwin's Tinyapp!</h3>
    <p><%- message %></p>
    <h3>My URLs</h3>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Short URL</th>
          <th scope="col">Long URL</th>
          <th scope="col">Created By</th>
          <th scope="col">Edit URL</th>
          <th scope="col">Delete URL</th>
        </tr>
      </thead>
      <tbody>
        <% for(let url in urlDatabase) { %>
        <tr>
          <td><a href="/url/<%= url %>"><%= url %></a></td>
          <td><%= urlDatabase[url].longURL %></td>
          <td><%= urlDatabase[url].userID %></td>
          <td>
            <a href="/url/edit/<%= url %>">Edit</a>
          </td>
          <td>
            <form method="POST" action="/url/delete/<%= url %>">
              <input type="submit" class="link-button" value="Delete"></form>
            </form>
          </td>
        </tr>
        <% } %>
      </tbody>
    </table>
    <a class="btn btn-primary" href="/urls/create">Create New Short URL!</a>
  </main>
  <!-- Bootstrap JS -->
  <footer>
    <%- include('./partials/_footer'); %>
  </footer>

</body>

</html>