<!-- Template for the login and registration pages -->

<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('./partials/_head.ejs'); %>
</head>

<body>
  <%- include('./partials/_header.ejs'); %>
  <main>
    <h1>Tinyapp - <%= operation %></h1>
    <!-- Password warning message only displays on the register page -->
    <% if (operation === 'Register') { %>
    <p id="passwordWarning">Warning, avoid using any passwords you use on other sites. 
      This is a student project and I cannot guarantee you that this site is secure!
    </p>
    <% } %>
    <!-- A convenient link for users to go between login and register pages -->
    <p id="switchFormat">
      <%- (operation === 'Register') ? 'Already have an account? <a href="/users/login">Sign In!</a>' : `Don't have an account yet? <a href="/users/register">Register today!</a>` %>
    </p>
    <form action="<%= (operation === 'Register') ? '/users/register' : '/users/login'; %>" method="POST">
      <div id="name-wrapper" <% if (operation === 'Login')  { %> style="display: none" <% } %>>
        <label for="name">Name:
        <input class="form-create" name="name" type="text"></label>
      </div>
      <label for="email">Email: 
      <input class="form-create" name="email" type="text"></label>
      <label for="password">Password: 
      <input type="password" class="form-create" name="password" type="text"></label>
      <input class="btn btn-primary" type="submit"
        value="<%= (operation === 'Register') ? 'Register New Account' : 'Sign In'; %>">
    </form>
  </main>
</body>
<footer>
  <%- include('./partials/_footer.ejs'); %>
</footer>

</html>